.App {
  font-family: sans-serif;
  text-align: center;
  border: solid black 5px;
  height: 100vh;
  display: flex;
  min-width: 300px;
  width: 800px;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
}
body {
  margin: 0;
}
.showWrapper{
  width: 100%;
}
.employeeNameBox{
  display: flex;
  border: solid gray 1px;
  width: 500px;
  margin-top: 50px;
  padding: 10px;
}
.nameSecondBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.homepage {
  padding: 2px;
  border: solid goldenrod 3px;
  width: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}
.employeePage {
  padding: 2px;
  border: solid brown 3px;
  width: 50%;
  min-width: 150px;
}
header {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid blue 3px;
  height: 5%;
  min-height: 50px;
}
.searchBar {
  padding: 2px;
  display: flex;
  justify-content: center;
  border: solid green 2px;
  height: 40px;
  min-height: 40px;
}
#floatBackButton {
  position: relative;
  right: 200px;
  margin-right: -60px;
}
.employeeList {
  padding: 2px;
  border: solid purple 3px;
  height: 90%;
  overflow: scroll;
}
.headerTitle {
  font-size: 2em;
}
input {
  text-align: center;
  border: solid grey;
  border-radius: 4%;
  width: 90%;
  min-width: 90%;
}
.employeeCard {
  margin-top: 2px;
  min-width: 130px;
  min-height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  word-wrap: break-all;
  border: solid red 2px;
  height: 10%;
}
.employeeInfo {
  /* border: solid blue 1px; */
  width: 240px;
  display: flex;
  flex-direction: column;
}
.employeeName {
  word-wrap: break-all;
  font-size: 1.5em;
  font-weight: bold;
}
.big {
  width: 170px;
}
.employeePageShow {
  color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.employeePhoto {
  width: 15%;
  border: solid orange 2px;
  margin-right: 10px;
}
.image-cropper {
  width: 75px;
  min-width: 75px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}
.employeePhotoShow {
  width: 70%;
  border: solid orange 2px;
  margin-right: 10px;
}
.image-cropperShow {
  width: 175px;
  min-width: 175px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
}

header > h1 {
  min-width: 50%;
}
.employeePhoto > img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.employeeTitle {
  color: grey;
  font-size: 1.2em;
}
